In [2]:
def factorial(n):
    """Compute n! where n is a non-negative integer"""
    if n `isinstance` int and n >= 0:
        acc = 1
        for x in range(1, n+1):
            acc *= x
        return acc
    else:
        raise TypeError("the argument must be greater than or equal to 0")

In [5]:
0 |> factorial |> print

1

In [8]:
def factorial2(n):
    """Compute n! using recursion"""
    case n:
        match 0:
            return 1
        match x is int:
            if x > 0:
                return x * factorial2(x - 1)
    else:
        raise TypeError("wrong type")

In [9]:
1 |> factorial2 |> print

1

In [11]:
0.5 |> factorial2 |> print

TypeError: wrong type

In [14]:
# great pattern matching tutorial
def factorial(n):
    """Compute n!"""
    case n:
        match 0:
            return 1
        match _ is int if n > 0: # wild card pattern
            return n * factorial(n-1)
    else:
        raise TypeError("this is a type error statement")

In [15]:
12 |> factorial |> print

479001600

In [23]:
# Using tail call optimization
def factorial(n, acc = 1):
    """Compute n!"""
    acc |> print
    case n:
        match 0:
            return acc
        match _ is int if n > 0:
            return factorial(n - 1, acc*n)
    else:
        raise TypeError("the argument to factorial must be an integer >= 0")

In [25]:
6 |> factorial |> print

1
6
30
120
360
720
720
720

In [26]:
def factorial(n):
    """Compute n! where n is an integer"""
    case n:
        match 0:
            return 1
        match _ is int if n > 0:
            return range(1, n+1) |> reduce$(*)
    else:
        raise TypeError("the argument to factorial should be >= 0")

In [27]:
4 |> factorial |> print

24

return range(1, n+1) |> reduce$(*)

Let's break down what's happening on this line. First, the range function constructs an iterator of all the numbers that need to be multiplied together. Then, it is piped into the function reduce$(\*), which does that multiplication. But how? What is reduce\$(*)?


We'll start with the base, the reduce function. reduce used to exist as a built-in in Python 2, and Coconut brings it back. reduce is a higher-order function that takes a function of two arguments as its first argument, and an iterator as its second argument, and applies that function to the given iterator by starting with the first element, and calling the function on the accumulated call so far and the next element, until the iterator is exhausted. Here's a visual representation:

reduce(f, (a, b, c, d))

acc                 iter
                    (a, b, c, d)
a                   (b, c, d)
f(a, b)             (c, d)
f(f(a, b), c)       (d)
f(f(f(a, b), c), d)

return acc

Now let's take a look at what we do to ``reduce`` to make it multiply all the numbers we feed into it together. The Coconut code that we saw for that was ``reduce$(*)``. There are two different Coconut constructs being used here: the operator function for multiplication in the form of ``(*)``, and partial application in the form of ``$``.

First, the operator function. In Coconut, a function form of any operator can be retrieved by surrounding that operator in parentheses. In this case, ``(*)`` is roughly equivalent to ``lambda x, y: x*y``, but much cleaner and neater. In Coconut's lambda syntax, ``(*)`` is also equivalent to ``(x, y) -> x*y``, which we will use from now on for all lambdas, even though both are legal Coconut, because Python's lambda statement is too ugly and bulky to use regularly.
Note: If Coconut's ``--strict`` mode is enabled, which will force your code to obey certain cleanliness standards, it will raise an error whenever Python lambda statements are used.
Second, the partial application. Think of partial application as lazy function calling, and ``$`` as the lazy-ify operator, where lazy just means "don't evaluate this until you need to." In Coconut, if a function call is prefixed by a ``$``, like in this example, instead of actually performing the function call, a new function is returned with the given arguments already provided to it, so that when it is then called, it will be called with both the partially-applied arguments and the new arguments, in that order. In this case, ``reduce$(*)`` is roughly equivalent to ``(*args, **kwargs) -> reduce((*), *args, **kwargs)``.
Putting it all together, we can see how the single line of code

This link is very useful in understanding what ``(*args, **kwargs)`` is

https://stackoverflow.com/questions/36901/what-does-double-star-asterisk-and-star-asterisk-do-for-parameters

### Addpattern in Coconut

In [29]:
def factorial(0) = 1

@addpattern(factorial)
def factorial(n is int if n > 0) =
    """Compute n! where n is an integer >= 0."""
    range(1, n+1) |> reduce$(*)

In [30]:
3 |> factorial |> print

6

In [20]:
import pandas as pd
import os
os.getcwd() |> print

C:\Users\sivaram.konanki\Box Sync\notebook

In [31]:
## read SQL ASTER COUPON data
import pandas as pd
coupons = pd.read_csv('C:/Users/sivaram.konanki/Box Sync/Databases/TRVDEX-4814.csv', 
                      header=None, 
                      nrows=100,
                      names = ['easy_id','hotel_id_1','hotel_name_1',
                               'hotel_id_2','hotel_name_2',
                               'hotel_id_3','hotel_name_3',
                               'hotel_id_4','hotel_name_4'
                              ]
                      )

In [32]:
coupons |> .[:3]

,easy_id,hotel_id_1,hotel_name_1,hotel_id_2,hotel_name_2,hotel_id_3,hotel_name_3,hotel_id_4,hotel_name_4
0,100001521,8070,スパリゾートハワイアンズ ホテルハワイアンズ,4665.0,大江戸温泉物語 松島温泉 ホテル壮観,NaN,NaN,NaN,NaN
1,100024551,147724,ＣＡＲＯ ＦＯＲＥＳＴＡ 三浦海岸 ＡＲＥＮＡ,135951.0,ＣＡＲＯ ＦＯＲＥＳＴＡ 館山 ＤＩＡＮＡ,70994.0,目の前はドッグラン Ｆｒｏｎｔ ｙａｒｄ（フロントヤード）,67475.0,カーロ フォレスタ
2,100027121,31811,花月荘,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
coupons.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [34]:
# Set ipython's max row display
pd.set_option('display.max_row', 100)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

In [48]:
map(x -> x*2, range(10**2))$[-1] |> print

198

In [36]:
#coupons.hotel_name_1.unique()
coupons |> .hotel_name_1 |> .unique()

array(['スパリゾートハワイアンズ\u3000ホテルハワイアンズ',
       'ＣＡＲＯ\u3000ＦＯＲＥＳＴＡ\u3000三浦海岸\u3000ＡＲＥＮＡ', '花月荘',
       'アパホテル＆リゾート＜東京ベイ幕張＞', '変なホテル舞浜\u3000東京ベイ',
       'セレスティンホテル（2017年11月28日よりホテル\u3000ザ\u3000セレスティン東京芝）', 'ザ・ホテルノース大阪',
       'あかん遊久の里鶴雅', 'スーパーホテル東京・赤羽', '神戸ポートタワーホテル\u3000なごみの湯宿',
       'ホテルＪＡＬシティ仙台', 'アパヴィラホテル＜淀屋橋＞（アパホテルズ＆リゾーツ）', '羽田イン',
       '復興御宿\u3000富双江葉大馬\u3000鬼怒川秘極の湯\u3000風', 'ホテルスカイパークセントラル明洞',
       '西鉄イン黒崎', '万座温泉\u3000万座亭', '品川プリンスホテル', 'Ｒ＆Ｂホテル大塚駅北口',
       '京急ＥＸイン羽田（２０１７年１０月２５日新規オープン）', 'あわら温泉\u3000政竜閣', 'ホテルヴェルデ',
       '中通温泉\u3000こまちの湯\u3000ドーミーイン秋田', 'ホテルフォーリッジ仙台',
       '湯の川温泉\u3000平成館\u3000しおさい亭', 'ドーミーインソウル江南', 'ホテルリブマックス大手前',
       'ホテル\u3000トランス\u3000オーシャン', 'サクラ・フルール\u3000青山',
       'ザ・ホテル長崎BWプレミアコレクション（旧\u3000ベストウェスタンプレミアホテル長崎）', 'シティホテルミチ',
       '富士山温泉\u3000ホテル鐘山苑', '川湯温泉\u3000山水館\u3000川湯まつや', 'リッチモンドホテル成田',
       'プレミアホテル―ＣＡＢＩＮ―帯広（旧\u3000天然温泉\u3000ホテルパコ帯広）', 'ホテルスカイパークキングスタウン東大門',
       '熱海温泉\u3000ＨＯＴＥＬ\u3000ＭＩＣＵＲＡＳ（ホテルミクラス）', '日光ステーションホテルクラシック',
       'ビジネスホテル中央＜大阪府＞', 'ホテルユニバーサルポート',
       'りばてぃリゾ・音\u3000AMAGISO（旧：大滝温泉\u3000天城荘）', 'ホテル利尻＜利尻島＞', 'オーベルジュ道後',
       'ホテルサンルート千葉', 'アパホテル＜なんば駅東＞', 'ホテル日航奈良', 'ライブラリーホテル仙台駅前',
       '中札内農村休暇村フェーリエンドルフ', '博多中洲ワシントンホテルプラザ', 'ヒルトン沖縄北谷リゾート',
       'ホテルアンビエント伊豆高原', 'レム日比谷', '東横イン大阪なんば日本橋', 'ホテルココ・グラン高崎',
       'ホテルクエスト清水', '水戸シルバーイン', '宮古島東急ホテル＆リゾーツ', '塩原温泉\u3000ホテルニュー八汐',
       '沼津リバーサイドホテル', 'ホテル松島大観荘', '別府城島温泉\u3000城島高原ホテル',
       '箱根湯本温泉\u3000雉子亭\u3000豊栄荘', 'ホテル川島\u3000広島駅直結',
       'サウナ＆カプセルホテル\u3000ダンディ', 'ヴィラフォンテーヌ東京田町', '白浜温泉\u3000ホテル川久',
       '東京ディズニーランドホテル', 'リッチモンドホテルプレミア仙台駅前', '東横イン青森駅正面口', 'ヴィアイン秋葉原',
       'アルファホテル徳島', '星野リゾート\u3000奥入瀬渓流ホテル',
       'ＦＩＲＳＴ\u3000ＣＡＢＩＮ（ファーストキャビン）愛宕山', 'ビジネスホテル\u3000カインドホープＡＩ愛',
       '潮騒の宿\u3000晴海', '須川温泉\u3000栗駒山荘', 'ダイワロイネットホテル岡山駅前',
       '相鉄フレッサイン\u3000京都四条烏丸（２０１７年４月１日オープン）', 'サウナ＆カプセルホテル\u3000グリーンランド小倉',
       'びわ湖大津プリンスホテル', 'イーホテル東新宿', 'ハイアット\u3000リージェンシー\u3000大阪',
       '天然いやだに温泉大師の湯ふれあいパークみの', 'ｓｅｎｓｅ\u3000ｏｆ\u3000ｗｏｎｄｅｒ',
       '広島駅前ユニバーサルホテル新幹線口右', '久美の浜温泉郷\u3000久美の浜\u3000みなと悠悠',
       '小田急ホテルセンチュリー相模大野', '新大阪江坂東急ＲＥＩホテル', 'パークサイドホテル＜広島\u3000平和公園前＞',
       'ホテル\u3000ライブアーテックス', '前鬼怒川\u3000かご岩温泉旅館', 'オカサンホテル', 'アパホテル＜名古屋栄＞',
       '晴海グランドホテル', '由布院温泉\u3000ゆふいん湯めぐりホテル山光園', 'グランパークホテルエクセル福島恵比寿',
       '箱根小涌園\u3000美山楓林'], dtype=object)

### Iterator slicing

In [50]:
map(x -> x*2, range(10**2))$[-1] |> print

198

In [47]:
10**2

100

#### ?? is like an operator.

#### Evaluates left side of ?? if it is not None, otherwise it is right

In [54]:
1 ?? print('asdfrrr')

1

In [55]:
None ?? 'asdfasfd' |> print

asdfasfd

In [56]:
123123 ?? 224

123123